<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.knct.di.c6t"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <permission
        android:name="jp.knct.di.c6t.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="jp.knct.di.c6t.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDkTTXI-jMdAjN_38aJeioizb7vGttcnpc" />
        <!--
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyC6Bh6EyVNxrJq150g9L_HhRUNeRk3VylY" />
        -->
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.route.RouteCreationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.route.RouteCreationQuestFormActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.route.RouteCreationDetailFormActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.route.RouteCreationQuestsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.route.MyRoutesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.route.RouteActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.exploration.ExplorationHomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.exploration.NewExplorationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.route.SearchRouteActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.exploration.ExplorationDetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.exploration.ExplorationStartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.exploration.SearchExplorationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.exploration.ExplorationStandbyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.exploration.ExplorationMainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.exploration.QuestExecutionActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.collection.CollectionHomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.collection.OutcomesActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ui.collection.TrophiesActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>